body {
  font-size: 120%;
  overflow: hidden;
}
.centered-div {
  text-align: center;
}
ul {
  font-size: inherit;
}
.mdl-list {
  display: table;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 0;
}
.mdl-list__item {
  font-size: inherit;
  margin-bottom: 0.5em;
  min-height: 1em;
  padding: 0;
}
.mdl-button {
  font-size: inherit;
  margin: 0.4em;
}